
#container{
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

  .grid{
    padding: 1em;
    margin: 1px;
    border: 1px solid #ddd;
    text-align: center;
    width: 100px;
    height: 100px;
    display: inline-block;
   
    
  }